.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.vsix
NOTES
RELATED
TODO
Makefile
.arc*
.pinterest-linters/
.gitmodules
images/
